@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  background-color: #ecf0f1;
  transition:background-color 0.5s ease;
}

.card{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bdc3c7;
  padding:5%;
  margin:10px;
}

.button{
  border-radius: 8px;
  border-width: 0px;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  color:white;
  background-color: #2ecc71;
  margin:5px;
}
.button:hover{
  background-color: #27ae60;
}

.disabled{
    background-color: #e74c3c
}
.disabled:hover{
  background-color: #c0392b
}
.disabled-bg{
  background-color:#2c3e50;
  color:white;
}
.safetrek{
  font-family: 'Raleway', sans-serif;
  background-color:#4050b6;
  color:white;
}
.safetrek:hover{
  background-color:#2e4099;
}
#map {
       width:100%;
       margin-top: 5px;
       height:60vh;
      margin-bottom:20px;}

#info{ color:#0984e3; transition: all .1s ease-in-out; }
#info:hover { transform: scale(1.2); }
.disabled-bg #info{color:#74b9ff;}

.modal{
 color:black;
}
